
img{
  background-image:url("./img/mole.jpg");
    height: 100px;
    width:100px;
    background-size:cover;
}

.wrapper{
    display: flex;
    justify-content:center;
}
.wrapper__field{
    width:500px;
    flex-wrap: wrap;
    display: flex;
}
.item{
    border:1px solid orange;
    border-radius: 10px;
    margin:1rem;
   flex-basis: 20%;
    height: 100px;
    background-color: lightblue;
}


.wrapper__side__bar span{
    margin-top:0.9rem;
    display: block;
}

.wrapper__mole{
    
}
.wrapper__mole div{
    width:100px;
    height: 100px;
    background-size:cover;
    background-image: url("../src/img/mole.jpg");
}
.wrapper__modal__lose{
    text-align: center;
    border-radius: 10px;
    background-color: lightgreen;
    width:800px;
    height: 500px;
}
.wrapper__modal__win{
    text-align: center;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.3);
    width:800px;
    height: 500px;
}
.global__wrapper__modal__win{
    left:30%;
    position: absolute;
}
.global__wrapper__modal__lose{
    left:30%;
    position: absolute;
}