img{
	background-image:url("./img/mole3.png");
  height: 100px;
  width:100px;
  background-size:cover;
}
.wrapper{
  display: flex;
  justify-content:center;
}
.wrapper__field{
	width:500px;
  flex-wrap: wrap;
  display: flex;
}
.item{
	cursor: pointer;
  border:1px solid orange;
  border-radius: 10px;
  margin:1rem;
  flex-basis: 20%;
  height: 100px;
  background-color: lightblue;
}
.wrapper__side__bar span{
  margin-top:0.9rem;
  display: block;
}
.wrapper__modal__lose{
  text-align: center;
  border-radius: 10px;
  background-color: #FA8072;
  width:1170px;
  height: 500px;
}
.wrapper__modal__lose h2{
  font-family: 'Teko', sans-serif;
  color:white;
  margin-top:10px;
  font-size: 3rem;
  text-transform: uppercase;
}
.wrapper__modal__win{
  text-align: center;
  border-radius: 10px;
  background-color:#008000;
  width:1170px;
  height: 500px;
}
.wrapper__modal__win h2{
  font-size: 3rem;
  margin-top:10px;
  text-transform: uppercase;
  color:white
}
.global__wrapper__modal__win{
  position: absolute;
}
.global__wrapper__modal__lose{
  position: absolute;
}
.wrapper__modal__start{
  position: absolute;
  width:100%;
  height: 100vh;
  background: rgba(212,228,239,1);
	background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(189,189,189,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(189,189,189,1)));
	background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(189,189,189,1) 100%);
	background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(189,189,189,1) 100%);
	background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(189,189,189,1) 100%);
	background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(189,189,189,1) 100%);
}
.container__modal__start h1{
	text-transform: uppercase;
  margin-top:20rem;
	text-align: center;
}